body {
    margin: 0;
    background-color: #dce0dce4;
}

/* Navbar */
.navbar {
    height: 10vh;
    background-color: #f4f3f3;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-brand img {
    width: 50px;
}

.collapse {
    margin-left: 30px;
}

.nav-item a {
    font-weight: 700;
    margin-right: 30px;
}

.button-nav .btn {
    background-color: #111727;
    border: none;
}

/* contact form */
form {
    max-width: 500px;
}